body {
    min-height: 100vh;
    background-color: black;
    font-family: "Anta", sans-serif;
}

h1 {
    color: rgb(220, 213, 213);
    display: flex;
    font-size: 23px;
    top: 0;
    left: 20px;
    position: absolute;
}

.opener {
    fill: rgb(182, 178, 178);
}

.navigation {
    visibility: hidden;
}


nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    display: flex;
    padding: 0 30px;
    text-decoration: none;
    align-items: center;
    transition-duration: 0.17s;
    color: rgb(174, 171, 171);
}

nav a:hover {
    color: gray;
    transform: scale(1.2);
}

.sidebar {
    position: fixed;
    top: -30px;
    right: 0px;
    height: 100vh;
    width: 340px;
    font-size: 35px;
    z-index: 999;
    border-radius: 13px;
    background-color: rgba(250, 247, 247, 0.049);
    backdrop-filter: blur(19px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.closer {
    fill: grey;
}

.menu {
    padding-bottom: 50px;

}

h2 {
    color: rgb(219, 219, 219);
    text-align: center;
    animation: scaleAnimationz 0.9s ease-in;
}


img {
    display: flex;
    margin-bottom: 90px;
    border: 2px solid rgb(75, 222, 202);
    border-radius: 12px;
    width: 84%;
    height: 70%;
    padding: 20px 40px 60px;
    transition-duration: 0.8s;
    animation: scaleAnimation 0.8s ease-in;
}

img:hover {
    transform: scale(1.36);
   
    border: none;
}

@keyframes scaleAnimation {
    0% {
        filter: blur(6px);
      transform: scale(0.9); /* Start with original size */
      border: none;
    }

  

    100% {
        filter: blur(0);
      transform: scale(1); /* End with double the size */
    }
}

@media only screen and (min-width: 576px) {
    h1 {
        font-size: 26px;
    }

    img {
        margin: 1%;
    }

    img:hover {
        transform: scale(1.12);
    }
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    img {
        margin: 4%;
    }

    img:hover {
        transform: scale(1.12);
    }

    .work-content {
        width: 100%;
    }

    img {
        margin: 2%;
    }

    .opener {
        visibility: hidden;
    }

    .sidebar {
        visibility: hidden;
    }

    .navigation {
        visibility: visible;
        font-size: 25px;
    }
}

@media only screen and (min-width: 992px) {
    .opener {
        visibility: hidden;
    }

    .sidebar {
        visibility: hidden;
    }

    .navigation {
        visibility: visible;
    }

    img {
        margin: 4%;
    }

    img:hover {
        transform: scale(1.12);
    }

    nav a {
        font-size: 28px;
    }
}

@media only screen and (min-width: 1200px) {
    .opener {
        visibility: hidden;
    }

    .sidebar {
        visibility: hidden;
    }

    .navigation {
        visibility: visible;
    }

    nav a {
        font-size: 30px;
    }

    img {
        margin: 4%;
    }

    img:hover {
        transform: scale(1.16);
    }
}